push const 1
push const 2
push const 3
push const 4
push const 5
push const 6
call .new 1
push const 0
push const 6
lt
push const 6
call .new 1
push const 1
add
call init 0
push const 0
push const 36
lt
push const 6
call Math.divide 2
push const 6
call .modulus 1
call .charAt 0
push const 1
add
call  0
push const 60
eq
push const 1
add
call  0
push const 62
eq
push const 94
eq
push const 1
add
call  0
push const 118
eq
push const 114
eq
push const 0
lt
sub
call .modulus -1
call Output.println 0
push const 0
call Output.printString 0
call Output.println 0
push const 6
lt
push const 0
push const 6
lt
call Output.printChar 0
push const 1
add
push const 1
add
call Output.println 0
push const 0
push const 6
lt
call temp.dispose 0
push const 1
add
call board.dispose 0
