function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push constant 400
push constant 0
push this 1
call setDestination 2
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
call Output.printString 0
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call dispose 0
pop temp 0
push this 1
call dispose 0
pop temp 0
call Memory.deAlloc 0
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label l0
push this 3
not
not
if-goto l1
label l2
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto l3
call Keyboard.keyPressed 0
pop local 0
push this 0
call move 0
pop temp 0
call moveBall 0
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto l2
label l3
push local 0
push constant 130
eq
not
if-goto l4
push constant 1
push this 0
call setDirection 1
pop temp 0
goto l5
label l4
push local 0
push constant 132
eq
not
if-goto l6
push constant 2
push this 0
call setDirection 1
pop temp 0
goto l7
label l6
push local 0
push constant 140
eq
not
if-goto l8
push constant 0
not
pop this 3
goto l9
label l8
label l9
label l7
label l5
label l10
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto l11
call Keyboard.keyPressed 0
pop local 0
push this 0
call move 0
pop temp 0
call moveBall 0
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto l10
label l11
goto l0
label l1
push this 3
not
if-goto l12
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
call Output.printString 0
pop temp 0
goto l13
label l12
label l13
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
push this 1
call move 0
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto l14
push this 2
pop this 5
push constant 0
pop local 0
push this 0
push this 0
call getLeft 0
pop local 1
push this 0
push this 0
call getRight 0
pop local 2
push this 1
push this 1
call getLeft 0
pop local 3
push this 1
push this 1
call getRight 0
pop local 4
push this 2
push constant 4
eq
not
if-goto l15
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto l16
push local 4
push local 1
push constant 10
add
lt
not
if-goto l17
push constant 1
neg
pop local 0
goto l18
label l17
push local 3
push local 2
push constant 10
sub
gt
not
if-goto l19
push constant 1
pop local 0
goto l20
label l19
label l20
label l18
push this 6
push constant 2
sub
pop this 6
push this 6
push this 0
call setWidth 1
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto l21
label l16
label l21
goto l22
label l15
label l22
push local 0
push this 1
call bounce 1
pop temp 0
goto l23
label l14
label l23
push constant 0
return
