function Main.main 3
push constant 5
call T.new 1
pop local 0
push constant 11
call T.new 1
pop local 1
push constant 5000
push local 0
push local 0
call getX 0
call Memory.poke 0
pop temp 0
push constant 5001
push local 1
push local 1
call getX 0
call Memory.poke 0
pop temp 0
push local 1
push local 0
call switch 1
pop temp 0
push constant 5002
push local 0
push local 0
call getX 0
call Memory.poke 0
pop temp 0
push constant 5003
push local 1
push local 1
call getX 0
call Memory.poke 0
pop temp 0
push constant 0
return
